.ChatContainer {
  height: 100%;

  .MessagesView {
    height: max-content;
    display: flex;
    flex-flow: column;
  }

  .formGroup {
    height: 2rem;
    display: flex;
    position: absolute;
    bottom: 0;
    border: 5px solid gray;
    width: 100%;
  }
}
